body{
   direction: rtl; 
   font-family: 'iransans';
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
}

.m-login{
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    border: none;
    padding: 10px;
    width: 48%;
    border-radius: 25px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 5px #999;
    display: block;
}
.modal .modal-footer{
    background: #929fba !important;
}
.dropdown-menu.show{
    min-width: 260px;
    border: none;
    box-shadow: 0 0 5px #999;
    padding: 15px;
}
@media(min-width:768px) {
    #carouselExampleControls{
        height: 100vh;
        overflow: hidden;
    }
}
.services{
     color: #656565; 
} 
.pro-btn{
    background: linear-gradient(87deg,#11cdef,#1171ef)!important;
    border: none;
} 
nav#m-page{
    direction: ltr;
}   
nav#m-page a{
    border: none;
} 
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #ff2438;
    border-radius: 2px;
    box-shadow: 0 0 5px #bbb;
} 
ul#pills-tab{
    background: linear-gradient(87deg,#11cdef,#1171ef)!important;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 0 5px #aaa;
}  

    